<h1>Productos</h1>

{{#if productos  }} 

        <div class="container d-grid">   
            <div class="row">
                {{#each productos}}
                
                    <div class="card col" style="width: 18rem;">
                        <img src="{{thumbnail}}" style="width: 200px" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{nombre}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Id: {{id}}</li>
                            <li class="list-group-item">Código: {{codigo}}</li>
                            <li class="list-group-item">TimeStamp: {{timestamp}}</li>
                            <li class="list-group-item"><strong>${{price}}</strong></li>
                            <li class="list-group-item">Stock: {{stock}}</li>
                        </ul>
                    
                    </div>
            
                {{/each}}
            </div>
        </div>
    
    
{{else}}
    <h2>No hay productos</h2>

{{/if}}

    <a href="../../" class="btn btn-primary mx-auto w-25">Ingresar Producto</a>
    <form action="/api/carrito" method="POST">
        <button type="submit" class="btn btn-primary mx-auto w-25">Crear Carrito</button>
    </form>
    <a href="/api/carrito" class="btn btn-primary mx-auto w-25">Listado de carritos</a>